

  <p>Player 1 is called <%= @game.player_1.name %> </p>
  <p>Player 2 is called <%= @game.player_2.name %> </p>
  <p>Player 1 hit points: <%= @game.player_1.hp %> HP </p>
  <p>Player 2 hit points: <%= @game.player_2.hp %> HP </p>

  <h2><%= @game.current_turn.name %>'s turn</h2>

  <form action="/attack">
    <input type="submit" value='Attack'>
  </form>
